*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
body{
    font-family:'Roboto', sans-serif;
}

.nav-bar{
    background-color: #edcb54;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    align-items: center;

}
.nav-bar .logo{
    width: 4em;
    height: 4em;
    grid-column: 2/3;
}
.nav-bar .menu{
    grid-column: 4/6;
    display: flex;
    justify-content: space-between;

}
li a{
    color: #181818;
    padding: 10px;
}
.nav-bar .menu-bar{
    display: none;
}

.nav-bar .shopping{
    grid-column: 8/9;
    cursor: pointer;
}

.nav-bar .menu a:hover{
    color: #fff;
    
}

/* Section main */
.hero{
    height: 80vh;
    background-image:linear-gradient(rgba(16,16,16,0.8),rgba(16, 16, 16, 0.532)),url(/assets/img/ChriStern45.jpg);
    background-size: cover;
    max-width: 100%;
    display:grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: (repeat(8,1fr));
}
.hero .info-content{
    grid-column: 9/10;
    grid-row: 4/7;
    color: #fff;
}
.hero h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
}
.hero h1{
    font-size: 5em;
    color: #edcb54;   
}
.hero p{
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
}
.hero .btn{
    font-size: 1em;
    background:none;
    color: white;
    padding: 15px;
    border: 1px solid #edcb54;
    border-radius: 30px;
    margin: 15px 0px 0px;
}

.hero .btn:hover{
    background-color: #edcb54;
    cursor: pointer;
    color: black;
}


/*Fuentes  */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;1,300&family=Roboto:ital,wght@0,100;0,400;1,500&display=swap');

